.container data-parallaxify-range-x="100" data-parallaxify-range-y="100"
  h1 Webmate
  h2 Let's create beautiful web.
  a href='https://github.com/webmaterb/webmate' class="button" Github Repository
  br
  a href="http://droidlabs.pro" class="link" Droid.Labs

javascript:
  $(function (){
    $.parallaxify({
      positionProperty: 'transform',
      motionType: 'natural',
      mouseMotionType: 'performance',
      motionAngleX: 70,
      motionAngleY: 70,
      alphaFilter: 0.5,
      adjustBasePosition: false,
      alphaPosition: 0.025,
      useMouseMove: false
    });
  })